# Jupyter
jupyterlab==4.0.9
jupyter-resource-usage
jupyter-server
dask-labextension
ipywidgets

# dask
dask[complete]
dask-ml
graphviz
flox
dask-jobqueue

# geospatial
xarray[complete]
rioxarray
pandas
geopandas
odc-geo
earthengine-api
geemap
datacube

# ML
lightgbm
lightgbm[scikit-learn]
shap

# plotting
contextily
seaborn
folium
odc-ui

# analysis
xarrayMannKendall
jenkspy
scipy
scikit-image
xskillscore
tigramite